<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title>Page 1</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft00{font-size:32px;font-family:AAAAAC+ArialMT;color:#000000;}
	.ft01{font-size:32px;font-family:AAAAAD+ArialMT;color:#000000;}
	.ft02{font-size:18px;font-family:AAAAAF+Arial;color:#000000;}
	.ft03{font-size:18px;font-family:AAAAAG+Arial;color:#000000;}
	.ft04{font-size:18px;font-family:AAAAAI+Arial;color:#000000;}
	.ft05{font-size:18px;font-family:AAAAAJ+Arial;color:#000000;}
	.ft06{font-size:18px;font-family:AAAAAC+ArialMT;color:#000000;}
	.ft07{font-size:18px;font-family:AAAAAD+ArialMT;color:#000000;}
	.ft08{font-size:24px;font-family:AAAAAL+Roboto;color:#000000;}
	.ft09{font-size:24px;font-family:AAAAAN+Roboto;color:#000000;}
	.ft010{font-size:10px;font-family:AAAAAO+.SFUI;color:#808080;}
	.ft011{font-size:10px;font-family:AAAAAP+.SFUI;color:#808080;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="Тестовое задание на позицию QA Engineer.001.png" alt="background image"/>
<p style="position:absolute;top:265px;left:152px;white-space:nowrap" class="ft00">Тестовое</p>
<p style="position:absolute;top:265px;left:290px;white-space:nowrap" class="ft01">&#160;</p>
<p style="position:absolute;top:265px;left:299px;white-space:nowrap" class="ft00">задание</p>
<p style="position:absolute;top:265px;left:423px;white-space:nowrap" class="ft01">&#160;</p>
<p style="position:absolute;top:265px;left:432px;white-space:nowrap" class="ft00">на</p>
<p style="position:absolute;top:265px;left:468px;white-space:nowrap" class="ft01">&#160;</p>
<p style="position:absolute;top:265px;left:477px;white-space:nowrap" class="ft00">позицию</p> 
<p style="position:absolute;top:265px;left:606px;white-space:nowrap" class="ft01">&#160;QA&#160;Engineer</p>
<p style="position:absolute;top:328px;left:103px;white-space:nowrap" class="ft02"><i>Сделайте</i></p> 
<p style="position:absolute;top:328px;left:190px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:195px;white-space:nowrap" class="ft02"><i>лучшим</i></p>
<p style="position:absolute;top:328px;left:261px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:266px;white-space:nowrap" class="ft02"><i>на</i></p>
<p style="position:absolute;top:328px;left:286px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:291px;white-space:nowrap" class="ft02"><i>ваш</i></p>
<p style="position:absolute;top:328px;left:325px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:330px;white-space:nowrap" class="ft02"><i>взгляд</i></p>
<p style="position:absolute;top:328px;left:385px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:390px;white-space:nowrap" class="ft02"><i>способом</i></p>
<p style="position:absolute;top:328px;left:471px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:476px;white-space:nowrap" class="ft02"><i>с</i></p>
<p style="position:absolute;top:328px;left:485px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:490px;white-space:nowrap" class="ft02"><i>учетом</i></p>
<p style="position:absolute;top:328px;left:555px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:560px;white-space:nowrap" class="ft02"><i>той</i></p>
<p style="position:absolute;top:328px;left:595px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:328px;left:600px;white-space:nowrap" class="ft02"><i>информации</i></p>
<p style="position:absolute;top:328px;left:707px;white-space:nowrap" class="ft03"><i>,&#160;</i></p>
<p style="position:absolute;top:328px;left:717px;white-space:nowrap" class="ft02"><i>которая</i></p>
<p style="position:absolute;top:348px;left:83px;white-space:nowrap" class="ft02"><i>представлена</i></p>
<p style="position:absolute;top:348px;left:206px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:348px;left:211px;white-space:nowrap" class="ft02"><i>в</i></p>
<p style="position:absolute;top:348px;left:220px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:348px;left:225px;white-space:nowrap" class="ft02"><i>заданиях</i></p>
<p style="position:absolute;top:348px;left:302px;white-space:nowrap" class="ft03"><i>.&#160;</i></p>
<p style="position:absolute;top:348px;left:312px;white-space:nowrap" class="ft02"><i>Делайте</i></p>
<p style="position:absolute;top:348px;left:389px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:348px;left:394px;white-space:nowrap" class="ft02"><i>допущения</i></p>
<p style="position:absolute;top:348px;left:488px;white-space:nowrap" class="ft03"><i>,&#160;</i></p>
<p style="position:absolute;top:348px;left:498px;white-space:nowrap" class="ft02"><i>если</i></p>
<p style="position:absolute;top:348px;left:537px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:348px;left:542px;white-space:nowrap" class="ft02"><i>чего</i></p>
<p style="position:absolute;top:348px;left:580px;white-space:nowrap" class="ft03"><i>-</i></p>
<p style="position:absolute;top:348px;left:586px;white-space:nowrap" class="ft02"><i>то</i></p>
<p style="position:absolute;top:348px;left:611px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:348px;left:616px;white-space:nowrap" class="ft02"><i>не</i></p>
<p style="position:absolute;top:348px;left:636px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:348px;left:641px;white-space:nowrap" class="ft02"><i>хватает</i></p>
<p style="position:absolute;top:348px;left:718px;white-space:nowrap" class="ft03"><i>.&#160;</i></p>
<p style="position:absolute;top:348px;left:728px;white-space:nowrap" class="ft02"><i>И</i></p>
<p style="position:absolute;top:348px;left:741px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:348px;left:746px;white-space:nowrap" class="ft02"><i>просто</i></p>
<p style="position:absolute;top:369px;left:288px;white-space:nowrap" class="ft02"><i>поясните</i></p>
<p style="position:absolute;top:369px;left:371px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:369px;left:376px;white-space:nowrap" class="ft02"><i>свой</i></p>
<p style="position:absolute;top:369px;left:414px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:369px;left:419px;white-space:nowrap" class="ft02"><i>выбор</i></p>
<p style="position:absolute;top:369px;left:472px;white-space:nowrap" class="ft03"><i>,&#160;</i></p>
<p style="position:absolute;top:369px;left:482px;white-space:nowrap" class="ft02"><i>свои</i></p>
<p style="position:absolute;top:369px;left:520px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:369px;left:525px;white-space:nowrap" class="ft02"><i>решения</i></p>
<p style="position:absolute;top:369px;left:600px;white-space:nowrap" class="ft03"><i>.</i></p>
<p style="position:absolute;top:407px;left:68px;white-space:nowrap" class="ft04"><b>Задание</b></p>
<p style="position:absolute;top:407px;left:143px;white-space:nowrap" class="ft05"><b>&#160;1.&#160;</b></p>
<p style="position:absolute;top:407px;left:168px;white-space:nowrap" class="ft04"><b>Тестирование</b></p>
<p style="position:absolute;top:407px;left:293px;white-space:nowrap" class="ft05"><b>.</b></p>
<p style="position:absolute;top:427px;left:68px;white-space:nowrap" class="ft06">Сравните</p>
<p style="position:absolute;top:427px;left:149px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:427px;left:154px;white-space:nowrap" class="ft06">тестирование</p>
<p style="position:absolute;top:427px;left:269px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:427px;left:274px;white-space:nowrap" class="ft06">собственного</p>
<p style="position:absolute;top:427px;left:386px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:427px;left:391px;white-space:nowrap" class="ft06">продукта</p>
<p style="position:absolute;top:427px;left:466px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:427px;left:471px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:427px;left:481px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:427px;left:486px;white-space:nowrap" class="ft06">аутсорс</p>
<p style="position:absolute;top:427px;left:551px;white-space:nowrap" class="ft07">-</p>
<p style="position:absolute;top:427px;left:557px;white-space:nowrap" class="ft06">тестирование</p>
<p style="position:absolute;top:427px;left:672px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:465px;left:68px;white-space:nowrap" class="ft04"><b>Задание</b></p>
<p style="position:absolute;top:465px;left:143px;white-space:nowrap" class="ft05"><b>&#160;2.&#160;</b></p>
<p style="position:absolute;top:465px;left:168px;white-space:nowrap" class="ft04"><b>Локализация</b></p>
<p style="position:absolute;top:465px;left:285px;white-space:nowrap" class="ft05"><b>&#160;</b></p>
<p style="position:absolute;top:465px;left:290px;white-space:nowrap" class="ft04"><b>бага</b></p>
<p style="position:absolute;top:465px;left:328px;white-space:nowrap" class="ft05"><b>.</b></p>
<p style="position:absolute;top:485px;left:68px;white-space:nowrap" class="ft06">Предложите</p>
<p style="position:absolute;top:485px;left:172px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:485px;left:177px;white-space:nowrap" class="ft06">варианты</p>
<p style="position:absolute;top:485px;left:258px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:485px;left:263px;white-space:nowrap" class="ft06">определения</p>
<p style="position:absolute;top:485px;left:372px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:485px;left:377px;white-space:nowrap" class="ft06">проблемы</p>
<p style="position:absolute;top:485px;left:462px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:506px;left:68px;white-space:nowrap" class="ft06">Условие</p>
<p style="position:absolute;top:506px;left:138px;white-space:nowrap" class="ft07">:</p>
<p style="position:absolute;top:526px;left:68px;white-space:nowrap" class="ft06">Два</p>
<p style="position:absolute;top:526px;left:100px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:105px;white-space:nowrap" class="ft06">тестировщика</p>
<p style="position:absolute;top:526px;left:223px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:228px;white-space:nowrap" class="ft06">проверяют</p>
<p style="position:absolute;top:526px;left:318px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:323px;white-space:nowrap" class="ft06">одно</p>
<p style="position:absolute;top:526px;left:363px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:368px;white-space:nowrap" class="ft06">мобильное</p>
<p style="position:absolute;top:526px;left:461px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:466px;white-space:nowrap" class="ft06">приложение</p>
<p style="position:absolute;top:526px;left:568px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:573px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:526px;left:583px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:588px;white-space:nowrap" class="ft06">одну</p>
<p style="position:absolute;top:526px;left:627px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:632px;white-space:nowrap" class="ft06">новую</p>
<p style="position:absolute;top:526px;left:684px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:526px;left:689px;white-space:nowrap" class="ft06">фичу</p>
<p style="position:absolute;top:526px;left:730px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:526px;left:740px;white-space:nowrap" class="ft06">Фича</p>
<p style="position:absolute;top:546px;left:68px;white-space:nowrap" class="ft06">состоит</p>
<p style="position:absolute;top:546px;left:133px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:138px;white-space:nowrap" class="ft06">в</p>
<p style="position:absolute;top:546px;left:148px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:153px;white-space:nowrap" class="ft06">том</p>
<p style="position:absolute;top:546px;left:183px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:546px;left:193px;white-space:nowrap" class="ft06">чтобы</p>
<p style="position:absolute;top:546px;left:244px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:249px;white-space:nowrap" class="ft06">пошарить</p>
<p style="position:absolute;top:546px;left:331px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:336px;white-space:nowrap" class="ft06">на</p>
<p style="position:absolute;top:546px;left:356px;white-space:nowrap" class="ft07">&#160;facebook&#160;</p>
<p style="position:absolute;top:546px;left:439px;white-space:nowrap" class="ft06">изображение</p>
<p style="position:absolute;top:546px;left:549px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:554px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:546px;left:564px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:569px;white-space:nowrap" class="ft06">отметить</p>
<p style="position:absolute;top:546px;left:645px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:650px;white-space:nowrap" class="ft06">автоматически</p>
<p style="position:absolute;top:546px;left:774px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:546px;left:779px;white-space:nowrap" class="ft06">на</p>
<p style="position:absolute;top:567px;left:68px;white-space:nowrap" class="ft06">этом</p>
<p style="position:absolute;top:567px;left:108px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:113px;white-space:nowrap" class="ft06">изображении</p>
<p style="position:absolute;top:567px;left:223px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:228px;white-space:nowrap" class="ft06">всех</p>
<p style="position:absolute;top:567px;left:265px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:270px;white-space:nowrap" class="ft06">друзей</p>
<p style="position:absolute;top:567px;left:328px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:567px;left:338px;white-space:nowrap" class="ft06">При</p>
<p style="position:absolute;top:567px;left:371px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:376px;white-space:nowrap" class="ft06">этом</p>
<p style="position:absolute;top:567px;left:415px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:420px;white-space:nowrap" class="ft06">изображение</p>
<p style="position:absolute;top:567px;left:530px;white-space:nowrap" class="ft07">&#160;-&#160;</p>
<p style="position:absolute;top:567px;left:546px;white-space:nowrap" class="ft06">это</p>
<p style="position:absolute;top:567px;left:573px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:578px;white-space:nowrap" class="ft06">не</p>
<p style="position:absolute;top:567px;left:598px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:603px;white-space:nowrap" class="ft06">фото</p>
<p style="position:absolute;top:567px;left:646px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:567px;left:656px;white-space:nowrap" class="ft06">на</p>
<p style="position:absolute;top:567px;left:676px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:567px;left:681px;white-space:nowrap" class="ft06">изображении</p>
<p style="position:absolute;top:587px;left:68px;white-space:nowrap" class="ft06">может</p>
<p style="position:absolute;top:587px;left:120px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:125px;white-space:nowrap" class="ft06">быть</p>
<p style="position:absolute;top:587px;left:166px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:587px;left:176px;white-space:nowrap" class="ft06">что</p>
<p style="position:absolute;top:587px;left:204px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:209px;white-space:nowrap" class="ft06">угодно</p>
<p style="position:absolute;top:587px;left:264px;white-space:nowrap" class="ft07">&#160;-&#160;</p>
<p style="position:absolute;top:587px;left:280px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:587px;left:290px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:295px;white-space:nowrap" class="ft06">люди</p>
<p style="position:absolute;top:587px;left:339px;white-space:nowrap" class="ft07">&#160;(</p>
<p style="position:absolute;top:587px;left:350px;white-space:nowrap" class="ft06">не</p>
<p style="position:absolute;top:587px;left:370px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:375px;white-space:nowrap" class="ft06">обязательно</p>
<p style="position:absolute;top:587px;left:480px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:485px;white-space:nowrap" class="ft06">именно</p>
<p style="position:absolute;top:587px;left:547px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:552px;white-space:nowrap" class="ft06">друзья</p>
<p style="position:absolute;top:587px;left:609px;white-space:nowrap" class="ft07">),&#160;</p>
<p style="position:absolute;top:587px;left:625px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:587px;left:635px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:640px;white-space:nowrap" class="ft06">цветочки</p>
<p style="position:absolute;top:587px;left:714px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:587px;left:724px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:587px;left:734px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:587px;left:739px;white-space:nowrap" class="ft06">домики</p>
<p style="position:absolute;top:587px;left:800px;white-space:nowrap" class="ft07">&#160;-</p>
<p style="position:absolute;top:608px;left:68px;white-space:nowrap" class="ft06">любой</p>
<p style="position:absolute;top:608px;left:123px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:608px;left:128px;white-space:nowrap" class="ft06">объект</p>
<p style="position:absolute;top:608px;left:183px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:628px;left:68px;white-space:nowrap" class="ft06">У</p>
<p style="position:absolute;top:628px;left:80px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:628px;left:85px;white-space:nowrap" class="ft06">одного</p>
<p style="position:absolute;top:628px;left:141px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:628px;left:146px;white-space:nowrap" class="ft06">тестировщика</p>
<p style="position:absolute;top:628px;left:264px;white-space:nowrap" class="ft07">&#160;1 (</p>
<p style="position:absolute;top:628px;left:290px;white-space:nowrap" class="ft06">Паша</p>
<p style="position:absolute;top:628px;left:338px;white-space:nowrap" class="ft07">)&#160;</p>
<p style="position:absolute;top:628px;left:349px;white-space:nowrap" class="ft06">фича</p>
<p style="position:absolute;top:628px;left:393px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:628px;left:398px;white-space:nowrap" class="ft06">отрабатывает</p>
<p style="position:absolute;top:628px;left:514px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:628px;left:519px;white-space:nowrap" class="ft06">верно</p>
<p style="position:absolute;top:628px;left:568px;white-space:nowrap" class="ft07">&#160;-&#160;</p>
<p style="position:absolute;top:628px;left:584px;white-space:nowrap" class="ft06">все</p>
<p style="position:absolute;top:628px;left:612px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:628px;left:617px;white-space:nowrap" class="ft06">друзья</p>
<p style="position:absolute;top:628px;left:674px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:628px;left:679px;white-space:nowrap" class="ft06">отмечаются</p>
<p style="position:absolute;top:628px;left:778px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:628px;left:783px;white-space:nowrap" class="ft06">на</p>
<p style="position:absolute;top:649px;left:68px;white-space:nowrap" class="ft06">фотографии</p>
<p style="position:absolute;top:649px;left:172px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:649px;left:182px;white-space:nowrap" class="ft06">У</p>
<p style="position:absolute;top:649px;left:194px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:649px;left:199px;white-space:nowrap" class="ft06">другого</p>
<p style="position:absolute;top:649px;left:261px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:649px;left:266px;white-space:nowrap" class="ft06">тестировщика</p>
<p style="position:absolute;top:649px;left:384px;white-space:nowrap" class="ft07">&#160;2 (</p>
<p style="position:absolute;top:649px;left:410px;white-space:nowrap" class="ft06">Антон</p>
<p style="position:absolute;top:649px;left:460px;white-space:nowrap" class="ft07">)&#160;</p>
<p style="position:absolute;top:649px;left:471px;white-space:nowrap" class="ft06">фича</p>
<p style="position:absolute;top:649px;left:515px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:649px;left:520px;white-space:nowrap" class="ft06">отрабатывает</p>
<p style="position:absolute;top:649px;left:635px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:649px;left:640px;white-space:nowrap" class="ft06">неверно</p>
<p style="position:absolute;top:649px;left:710px;white-space:nowrap" class="ft07">&#160;–</p>
<p style="position:absolute;top:669px;left:68px;white-space:nowrap" class="ft06">изображение</p>
<p style="position:absolute;top:669px;left:179px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:669px;left:184px;white-space:nowrap" class="ft06">постится</p>
<p style="position:absolute;top:669px;left:258px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:669px;left:268px;white-space:nowrap" class="ft06">но</p>
<p style="position:absolute;top:669px;left:288px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:669px;left:293px;white-space:nowrap" class="ft06">ни</p>
<p style="position:absolute;top:669px;left:313px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:669px;left:318px;white-space:nowrap" class="ft06">одного</p>
<p style="position:absolute;top:669px;left:374px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:669px;left:379px;white-space:nowrap" class="ft06">друга</p>
<p style="position:absolute;top:669px;left:425px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:669px;left:430px;white-space:nowrap" class="ft06">не</p>
<p style="position:absolute;top:669px;left:449px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:669px;left:454px;white-space:nowrap" class="ft06">отмечается</p>
<p style="position:absolute;top:669px;left:550px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:689px;left:68px;white-space:nowrap" class="ft06">Вопрос</p>
<p style="position:absolute;top:689px;left:129px;white-space:nowrap" class="ft07">:</p>
<p style="position:absolute;top:689px;left:134px;white-space:nowrap" class="ft05"><b>&#160;</b></p>
<p style="position:absolute;top:710px;left:68px;white-space:nowrap" class="ft06">В</p>
<p style="position:absolute;top:710px;left:80px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:710px;left:85px;white-space:nowrap" class="ft06">чём</p>
<p style="position:absolute;top:710px;left:117px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:710px;left:122px;white-space:nowrap" class="ft06">может</p>
<p style="position:absolute;top:710px;left:174px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:710px;left:179px;white-space:nowrap" class="ft06">быть</p>
<p style="position:absolute;top:710px;left:220px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:710px;left:225px;white-space:nowrap" class="ft06">причина</p>
<p style="position:absolute;top:710px;left:294px;white-space:nowrap" class="ft07">?&#160;</p>
<p style="position:absolute;top:710px;left:309px;white-space:nowrap" class="ft06">Как</p>
<p style="position:absolute;top:710px;left:338px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:710px;left:343px;white-space:nowrap" class="ft06">будете</p>
<p style="position:absolute;top:710px;left:399px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:710px;left:404px;white-space:nowrap" class="ft06">локализовывать</p>
<p style="position:absolute;top:710px;left:541px;white-space:nowrap" class="ft07">?</p>
<p style="position:absolute;top:748px;left:68px;white-space:nowrap" class="ft04"><b>Задание</b></p>
<p style="position:absolute;top:748px;left:143px;white-space:nowrap" class="ft05"><b>&#160;3.</b></p>
<p style="position:absolute;top:748px;left:163px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:748px;left:168px;white-space:nowrap" class="ft04"><b>Баг</b></p>
<p style="position:absolute;top:748px;left:197px;white-space:nowrap" class="ft05"><b>.</b></p>
<p style="position:absolute;top:769px;left:68px;white-space:nowrap" class="ft06">Для</p>
<p style="position:absolute;top:769px;left:101px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:769px;left:106px;white-space:nowrap" class="ft06">задания</p>
<p style="position:absolute;top:769px;left:174px;white-space:nowrap" class="ft07">&#160;2&#160;</p>
<p style="position:absolute;top:769px;left:194px;white-space:nowrap" class="ft06">выберите</p>
<p style="position:absolute;top:769px;left:275px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:769px;left:280px;white-space:nowrap" class="ft06">один</p>
<p style="position:absolute;top:769px;left:320px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:769px;left:325px;white-space:nowrap" class="ft06">вариант</p>
<p style="position:absolute;top:769px;left:393px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:769px;left:398px;white-space:nowrap" class="ft06">локализации</p>
<p style="position:absolute;top:769px;left:506px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:769px;left:511px;white-space:nowrap" class="ft06">проблемы</p>
<p style="position:absolute;top:769px;left:596px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:769px;left:606px;white-space:nowrap" class="ft06">который</p>
<p style="position:absolute;top:769px;left:675px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:769px;left:680px;white-space:nowrap" class="ft06">вам</p>
<p style="position:absolute;top:769px;left:712px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:769px;left:717px;white-space:nowrap" class="ft06">кажется</p>
<p style="position:absolute;top:789px;left:68px;white-space:nowrap" class="ft06">наиболее</p>
<p style="position:absolute;top:789px;left:149px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:789px;left:154px;white-space:nowrap" class="ft06">вероятным</p>
<p style="position:absolute;top:789px;left:247px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:789px;left:257px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:789px;left:267px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:789px;left:272px;white-space:nowrap" class="ft06">оформите</p>
<p style="position:absolute;top:789px;left:357px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:789px;left:362px;white-space:nowrap" class="ft06">его</p>
<p style="position:absolute;top:789px;left:388px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:789px;left:393px;white-space:nowrap" class="ft06">как</p>
<p style="position:absolute;top:789px;left:419px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:789px;left:424px;white-space:nowrap" class="ft06">баг</p>
<p style="position:absolute;top:789px;left:449px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:827px;left:68px;white-space:nowrap" class="ft04"><b>Задание</b></p>
<p style="position:absolute;top:827px;left:143px;white-space:nowrap" class="ft05"><b>&#160;4.&#160;</b></p>
<p style="position:absolute;top:827px;left:168px;white-space:nowrap" class="ft04"><b>Чеклист</b></p>
<p style="position:absolute;top:827px;left:240px;white-space:nowrap" class="ft05"><b>.</b></p>
<p style="position:absolute;top:847px;left:68px;white-space:nowrap" class="ft06">С</p>
<p style="position:absolute;top:847px;left:81px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:847px;left:86px;white-space:nowrap" class="ft06">помощью</p>
<p style="position:absolute;top:847px;left:166px;white-space:nowrap" class="ft07">&#160;mind&#160;map&#160;(</p>
<p style="position:absolute;top:847px;left:261px;white-space:nowrap" class="ft06">интеллектуальных</p>
<p style="position:absolute;top:847px;left:417px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:847px;left:422px;white-space:nowrap" class="ft06">карт</p>
<p style="position:absolute;top:847px;left:458px;white-space:nowrap" class="ft07">)&#160;</p>
<p style="position:absolute;top:847px;left:469px;white-space:nowrap" class="ft06">составьте</p>
<p style="position:absolute;top:847px;left:551px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:847px;left:556px;white-space:nowrap" class="ft06">чеклист</p>
<p style="position:absolute;top:847px;left:621px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:847px;left:626px;white-space:nowrap" class="ft06">для</p>
<p style="position:absolute;top:847px;left:657px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:847px;left:662px;white-space:nowrap" class="ft06">проверки</p>
<p style="position:absolute;top:847px;left:739px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:847px;left:744px;white-space:nowrap" class="ft06">ниже</p>
<p style="position:absolute;top:868px;left:68px;white-space:nowrap" class="ft06">описанной</p>
<p style="position:absolute;top:868px;left:157px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:868px;left:162px;white-space:nowrap" class="ft06">игры</p>
<p style="position:absolute;top:868px;left:202px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:868px;left:212px;white-space:nowrap" class="ft06">Продемонстрируйте</p>
<p style="position:absolute;top:868px;left:381px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:868px;left:386px;white-space:nowrap" class="ft06">в</p>
<p style="position:absolute;top:868px;left:396px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:868px;left:401px;white-space:nowrap" class="ft06">карте</p>
<p style="position:absolute;top:868px;left:447px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:868px;left:452px;white-space:nowrap" class="ft06">применение</p>
<p style="position:absolute;top:868px;left:554px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:868px;left:559px;white-space:nowrap" class="ft06">известных</p>
<p style="position:absolute;top:868px;left:646px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:868px;left:651px;white-space:nowrap" class="ft06">вам</p>
<p style="position:absolute;top:868px;left:683px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:868px;left:688px;white-space:nowrap" class="ft06">видов</p>
<p style="position:absolute;top:888px;left:68px;white-space:nowrap" class="ft06">тестирования</p>
<p style="position:absolute;top:888px;left:183px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:888px;left:188px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:888px;left:198px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:888px;left:203px;white-space:nowrap" class="ft06">техник</p>
<p style="position:absolute;top:888px;left:258px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:888px;left:263px;white-space:nowrap" class="ft06">тест</p>
<p style="position:absolute;top:888px;left:298px;white-space:nowrap" class="ft07">-</p>
<p style="position:absolute;top:888px;left:304px;white-space:nowrap" class="ft06">дизайна</p>
<p style="position:absolute;top:888px;left:373px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:888px;left:383px;white-space:nowrap" class="ft06">Декомпозицию</p>
<p style="position:absolute;top:888px;left:507px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:888px;left:512px;white-space:nowrap" class="ft06">для</p>
<p style="position:absolute;top:888px;left:543px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:888px;left:548px;white-space:nowrap" class="ft06">функционального</p>
<p style="position:absolute;top:888px;left:696px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:888px;left:701px;white-space:nowrap" class="ft06">тестирования</p>
<p style="position:absolute;top:908px;left:68px;white-space:nowrap" class="ft06">постарайтесь</p>
<p style="position:absolute;top:908px;left:182px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:908px;left:187px;white-space:nowrap" class="ft06">сделать</p>
<p style="position:absolute;top:908px;left:253px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:908px;left:258px;white-space:nowrap" class="ft06">по</p>
<p style="position:absolute;top:908px;left:278px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:908px;left:283px;white-space:nowrap" class="ft06">действиям</p>
<p style="position:absolute;top:908px;left:373px;white-space:nowrap" class="ft07">&#160;(</p>
<p style="position:absolute;top:908px;left:384px;white-space:nowrap" class="ft06">функциям</p>
<p style="position:absolute;top:908px;left:468px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:908px;left:473px;white-space:nowrap" class="ft06">приложения</p>
<p style="position:absolute;top:908px;left:575px;white-space:nowrap" class="ft07">).</p>
<p style="position:absolute;top:929px;left:68px;white-space:nowrap" class="ft06">Описание</p>
<p style="position:absolute;top:929px;left:151px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:929px;left:156px;white-space:nowrap" class="ft06">игры</p>
<p style="position:absolute;top:929px;left:196px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:929px;left:206px;white-space:nowrap" class="ft06">Игровое</p>
<p style="position:absolute;top:929px;left:275px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:929px;left:280px;white-space:nowrap" class="ft06">поле</p>
<p style="position:absolute;top:929px;left:320px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:929px;left:325px;white-space:nowrap" class="ft06">представляет</p>
<p style="position:absolute;top:929px;left:439px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:929px;left:444px;white-space:nowrap" class="ft06">собой</p>
<p style="position:absolute;top:929px;left:493px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:929px;left:498px;white-space:nowrap" class="ft06">многоугольник</p>
<p style="position:absolute;top:929px;left:619px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:929px;left:624px;white-space:nowrap" class="ft06">неправильной</p>
<p style="position:absolute;top:929px;left:743px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:929px;left:748px;white-space:nowrap" class="ft06">формы</p>
<p style="position:absolute;top:929px;left:808px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:949px;left:68px;white-space:nowrap" class="ft06">Под</p>
<p style="position:absolute;top:949px;left:101px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:106px;white-space:nowrap" class="ft06">игровым</p>
<p style="position:absolute;top:949px;left:178px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:183px;white-space:nowrap" class="ft06">полем</p>
<p style="position:absolute;top:949px;left:235px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:240px;white-space:nowrap" class="ft06">располагаются</p>
<p style="position:absolute;top:949px;left:365px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:370px;white-space:nowrap" class="ft06">различные</p>
<p style="position:absolute;top:949px;left:461px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:466px;white-space:nowrap" class="ft06">геометрические</p>
<p style="position:absolute;top:949px;left:599px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:604px;white-space:nowrap" class="ft06">фигуры</p>
<p style="position:absolute;top:949px;left:667px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:672px;white-space:nowrap" class="ft06">из</p>
<p style="position:absolute;top:949px;left:690px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:695px;white-space:nowrap" class="ft06">игрового</p>
<p style="position:absolute;top:949px;left:767px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:949px;left:772px;white-space:nowrap" class="ft06">пака</p>
<p style="position:absolute;top:949px;left:810px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:970px;left:68px;white-space:nowrap" class="ft06">Игроку</p>
<p style="position:absolute;top:970px;left:125px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:970px;left:130px;white-space:nowrap" class="ft06">необходимо</p>
<p style="position:absolute;top:970px;left:231px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:970px;left:236px;white-space:nowrap" class="ft02"><i>расположить</i></p>
<p style="position:absolute;top:970px;left:351px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:970px;left:356px;white-space:nowrap" class="ft02"><i>фигуры</i></p>
<p style="position:absolute;top:970px;left:422px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:970px;left:427px;white-space:nowrap" class="ft02"><i>таким</i></p>
<p style="position:absolute;top:970px;left:483px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:970px;left:488px;white-space:nowrap" class="ft02"><i>образом</i></p>
<p style="position:absolute;top:970px;left:558px;white-space:nowrap" class="ft03"><i>,&#160;</i></p>
<p style="position:absolute;top:970px;left:568px;white-space:nowrap" class="ft02"><i>чтобы</i></p>
<p style="position:absolute;top:970px;left:626px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:970px;left:631px;white-space:nowrap" class="ft02"><i>заполнить</i></p>
<p style="position:absolute;top:970px;left:723px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:970px;left:728px;white-space:nowrap" class="ft02"><i>игровое</i></p>
<p style="position:absolute;top:990px;left:68px;white-space:nowrap" class="ft02"><i>поле</i></p>
<p style="position:absolute;top:990px;left:108px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:990px;left:118px;white-space:nowrap" class="ft06">Игровое</p>
<p style="position:absolute;top:990px;left:187px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:192px;white-space:nowrap" class="ft06">поле</p>
<p style="position:absolute;top:990px;left:232px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:237px;white-space:nowrap" class="ft06">должно</p>
<p style="position:absolute;top:990px;left:300px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:305px;white-space:nowrap" class="ft06">быть</p>
<p style="position:absolute;top:990px;left:345px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:350px;white-space:nowrap" class="ft06">заполнено</p>
<p style="position:absolute;top:990px;left:438px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:443px;white-space:nowrap" class="ft06">полностью</p>
<p style="position:absolute;top:990px;left:533px;white-space:nowrap" class="ft07">&#160;(</p>
<p style="position:absolute;top:990px;left:544px;white-space:nowrap" class="ft06">не</p>
<p style="position:absolute;top:990px;left:564px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:569px;white-space:nowrap" class="ft06">должно</p>
<p style="position:absolute;top:990px;left:632px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:637px;white-space:nowrap" class="ft06">быть</p>
<p style="position:absolute;top:990px;left:678px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:990px;left:683px;white-space:nowrap" class="ft06">пустых</p>
<p style="position:absolute;top:1010px;left:68px;white-space:nowrap" class="ft06">квадратов</p>
<p style="position:absolute;top:1010px;left:153px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1010px;left:158px;white-space:nowrap" class="ft06">между</p>
<p style="position:absolute;top:1010px;left:212px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1010px;left:217px;white-space:nowrap" class="ft06">фигурами</p>
<p style="position:absolute;top:1010px;left:300px;white-space:nowrap" class="ft07">).&#160;</p>
<p style="position:absolute;top:1010px;left:316px;white-space:nowrap" class="ft06">Игрок</p>
<p style="position:absolute;top:1010px;left:363px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1010px;left:368px;white-space:nowrap" class="ft06">должен</p>
<p style="position:absolute;top:1010px;left:431px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1010px;left:436px;white-space:nowrap" class="ft06">использовать</p>
<p style="position:absolute;top:1010px;left:549px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1010px;left:554px;white-space:nowrap" class="ft02"><i>все</i></p>
<p style="position:absolute;top:1010px;left:582px;white-space:nowrap" class="ft03"><i>&#160;</i></p>
<p style="position:absolute;top:1010px;left:587px;white-space:nowrap" class="ft06">предложенные</p>
<p style="position:absolute;top:1031px;left:68px;white-space:nowrap" class="ft06">геометрические</p>
<p style="position:absolute;top:1031px;left:201px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1031px;left:206px;white-space:nowrap" class="ft06">фигуры</p>
<p style="position:absolute;top:1031px;left:269px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:1051px;left:68px;white-space:nowrap" class="ft06">Можно</p>
<p style="position:absolute;top:1051px;left:125px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:130px;white-space:nowrap" class="ft06">использовать</p>
<p style="position:absolute;top:1051px;left:243px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:248px;white-space:nowrap" class="ft06">подсказку</p>
<p style="position:absolute;top:1051px;left:331px;white-space:nowrap" class="ft07">:&#160;</p>
<p style="position:absolute;top:1051px;left:341px;white-space:nowrap" class="ft06">подсказка</p>
<p style="position:absolute;top:1051px;left:424px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:429px;white-space:nowrap" class="ft06">подсвечивает</p>
<p style="position:absolute;top:1051px;left:543px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:548px;white-space:nowrap" class="ft06">место</p>
<p style="position:absolute;top:1051px;left:598px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:603px;white-space:nowrap" class="ft06">на</p>
<p style="position:absolute;top:1051px;left:623px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:628px;white-space:nowrap" class="ft06">игровом</p>
<p style="position:absolute;top:1051px;left:696px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:701px;white-space:nowrap" class="ft06">поле</p>
<p style="position:absolute;top:1051px;left:741px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1051px;left:746px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:1072px;left:68px;white-space:nowrap" class="ft06">соответствующую</p>
<p style="position:absolute;top:1072px;left:219px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1072px;left:224px;white-space:nowrap" class="ft06">геометрическую</p>
<p style="position:absolute;top:1072px;left:359px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1072px;left:364px;white-space:nowrap" class="ft06">фигуру</p>
<p style="position:absolute;top:1072px;left:421px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:1072px;left:431px;white-space:nowrap" class="ft06">которую</p>
<p style="position:absolute;top:1072px;left:499px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1072px;left:504px;white-space:nowrap" class="ft06">нужно</p>
<p style="position:absolute;top:1072px;left:555px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1072px;left:560px;white-space:nowrap" class="ft06">разместить</p>
<p style="position:absolute;top:1072px;left:656px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1072px;left:661px;white-space:nowrap" class="ft06">на</p>
<p style="position:absolute;top:1072px;left:681px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1072px;left:686px;white-space:nowrap" class="ft06">области</p>
<p style="position:absolute;top:1072px;left:753px;white-space:nowrap" class="ft07">.&#160;</p>
<p style="position:absolute;top:1072px;left:763px;white-space:nowrap" class="ft06">После</p>
<p style="position:absolute;top:1092px;left:68px;white-space:nowrap" class="ft06">использования</p>
<p style="position:absolute;top:1092px;left:194px;white-space:nowrap" class="ft07">,&#160;</p>
<p style="position:absolute;top:1092px;left:204px;white-space:nowrap" class="ft06">подсказки</p>
<p style="position:absolute;top:1092px;left:287px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1092px;left:292px;white-space:nowrap" class="ft06">уменьшают</p>
<p style="position:absolute;top:1092px;left:388px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1092px;left:393px;white-space:nowrap" class="ft06">текущее</p>
<p style="position:absolute;top:1092px;left:463px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1092px;left:468px;white-space:nowrap" class="ft06">значение</p>
<p style="position:absolute;top:1092px;left:545px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1092px;left:550px;white-space:nowrap" class="ft06">внутриигровой</p>
<p style="position:absolute;top:1092px;left:673px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1092px;left:678px;white-space:nowrap" class="ft06">валюты</p>
<p style="position:absolute;top:1092px;left:742px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1092px;left:747px;white-space:nowrap" class="ft06">игрока</p>
<p style="position:absolute;top:1092px;left:802px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:1112px;left:68px;white-space:nowrap" class="ft06">За</p>
<p style="position:absolute;top:1112px;left:89px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:94px;white-space:nowrap" class="ft06">прохождение</p>
<p style="position:absolute;top:1112px;left:205px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:210px;white-space:nowrap" class="ft06">уровня</p>
<p style="position:absolute;top:1112px;left:268px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:273px;white-space:nowrap" class="ft06">игроку</p>
<p style="position:absolute;top:1112px;left:327px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:332px;white-space:nowrap" class="ft06">начисляется</p>
<p style="position:absolute;top:1112px;left:436px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:441px;white-space:nowrap" class="ft06">внутри</p>
<p style="position:absolute;top:1112px;left:498px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:503px;white-space:nowrap" class="ft06">игровая</p>
<p style="position:absolute;top:1112px;left:569px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:574px;white-space:nowrap" class="ft06">валюта</p>
<p style="position:absolute;top:1112px;left:635px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:640px;white-space:nowrap" class="ft06">и</p>
<p style="position:absolute;top:1112px;left:650px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1112px;left:655px;white-space:nowrap" class="ft06">становится</p>
<p style="position:absolute;top:1133px;left:68px;white-space:nowrap" class="ft06">доступным</p>
<p style="position:absolute;top:1133px;left:160px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1133px;left:165px;white-space:nowrap" class="ft06">для</p>
<p style="position:absolute;top:1133px;left:196px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1133px;left:201px;white-space:nowrap" class="ft06">прохождения</p>
<p style="position:absolute;top:1133px;left:312px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1133px;left:317px;white-space:nowrap" class="ft06">следующий</p>
<p style="position:absolute;top:1133px;left:414px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:1133px;left:419px;white-space:nowrap" class="ft06">уровень</p>
<p style="position:absolute;top:1133px;left:486px;white-space:nowrap" class="ft07">.</p>
<p style="position:absolute;top:83px;left:131px;white-space:nowrap" class="ft08">Тестовое</p>
<p style="position:absolute;top:83px;left:234px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:83px;left:240px;white-space:nowrap" class="ft08">задание</p>
<p style="position:absolute;top:83px;left:333px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:83px;left:339px;white-space:nowrap" class="ft08">на</p>
<p style="position:absolute;top:83px;left:366px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:83px;left:372px;white-space:nowrap" class="ft08">позици</p>
<p style="position:absolute;top:82px;left:454px;white-space:nowrap" class="ft09">…</p>
<p style="position:absolute;top:-51px;left:-151px;white-space:nowrap" class="ft010">02.09.2022, 19</p>
<p style="position:absolute;top:-51px;left:-71px;white-space:nowrap" class="ft011">:</p>
<p style="position:absolute;top:-51px;left:-68px;white-space:nowrap" class="ft010">28</p>
<p style="position:absolute;top:-39px;left:-112px;white-space:nowrap" class="ft011">Стр</p>
<p style="position:absolute;top:-39px;left:-91px;white-space:nowrap" class="ft010">.&#160;1&#160;</p>
<p style="position:absolute;top:-39px;left:-76px;white-space:nowrap" class="ft011">из</p>
<p style="position:absolute;top:-39px;left:-64px;white-space:nowrap" class="ft010">&#160;3</p>
</div>
</body>
</html>
